@import 'https://fonts.googleapis.com/css?family=Inconsolata';

/*.waffle {
  display: flex;
  flex-wrap: wrap;
  width: 10px;
}*/

/*.block {
  width: 11px;
  height: 12px;
  margin: 1px;
}*/

/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block {
  background-color: #ffd8a8;
  padding: 1em;
}
*/
h1, p, h2, h3, h4, button {
  font-family: Inconsolata;
  max-width: 50%;
}

h1 {
  outline: 8px solid rgb(254.8,210.67,4.24);
  border: 5px solid transparent;
  display: inline-block;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  padding: 0px;
  margin: 0px;
  font-size: .8rem;
}

button {
  font-size: 1.2rem;
  display: block;
  margin: auto;
}

.outer-grid {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
}

#tooltip {
  pointer-events: none;
}


#container {
  /*margin: auto;*/
  max-width: 100%;

}
